<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Quantum.Simulation.Simulators" version="0.6.6505.2537-alpha" targetFramework="net461" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net461" />
  <package id="OxyPlot.WindowsForms" version="1.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>